body {
    font-family: 'Spectral';
}
.banner-background {
    background-color: rgb(114,40,11);
}

.background {
    background: url(manuel-nageli-NsgsQjHA1mM-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background > div {
    background-color: rgb(229,226,227);
    margin-top: 20vh;
}

.contact-form {
    margin-bottom: 20vh;
    opacity: .90;
}

.fullscreen-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 75vh;
}

.stephen-wade {
    color: rgb(229,226,227);
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sw-text {
    font-size: 20vh;
}

.nav-bar {;
    font-size: large;
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: rgb(229,226,227) !important;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}







/*.writing-gallery img {*/
/*    width: 20rem;*/
/*    height: 25rem;*/
/*}*/

/*.the-hut-img {*/
/*    right: 50rem;*/
/*}*/

/*Trying to make the textarea wider*/

/*textarea.form-control {*/
/*    width: 35vw;*/
/*}*/




#writing-gallery {
    position: relative;
    min-width: 25rem;
    min-width: 30rem;
}


.the-hut-img {
    width: 20rem;
    height: 25rem;
    position: absolute;
    /*left: 0rem;*/
}

.an-elegant-departure-img {
    width: 20rem;
    height: 25rem;
    position: absolute;
    left: 3rem;
    top: 2rem;
}

.an-elegant-departure2-img {
    width: 20rem;
    height: 25rem;
    position: absolute;
    left: 6rem;
    top: 3rem;
}

.an-elegant-departure3-img {
    width: 20rem;
    height: 25rem;
    position: absolute;
    left: 9rem;
    top: 4rem;
}

.an-elegant-departure4-img {
    width: 20rem;
    height: 25rem;
    position: absolute;
    left: 12rem;
    top: 5rem;
}








/*#image-container {*/
/*    width: 20rem;*/
/*    height: 25rem;*/
/*    position: absolute;*/
/*}*/


/*.writing-gallery {*/
/*    position: relative;*/

/*}*/

/*.writing-gallery img {*/
/*    width: 20rem;*/
/*    height: 25rem;*/
/*    position: absolute;*/
/*}*/

/*.the-hut-img {*/
/*    left: 5rem;*/
/*}*/

/*.an-elegant-departure-img {*/
/*    left: 10rem;*/
/*    top: 2rem;*/
/*}*/










/*.the-hut-iframe {*/
/*    frameBorder: 0;*/
/*    scrolling: auto;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/