body {
    font-family: 'Spectral';
}
.banner-background {
    background-color: rgb(114,40,11);
}

.background {
    background: url(manuel-nageli-NsgsQjHA1mM-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*overflow-x: hidden;*/
}

.background > div {
    background-color: rgb(229,226,227);
    margin-top: 20vh;
}

.contact-form {
    margin-bottom: 20vh;
    opacity: .90;
}

.fullscreen-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 75vh;
}

.stephen-wade {
    color: rgb(229,226,227);
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sw-text {
    font-size: 20vh;
}

.nav-bar {;
    font-size: large;
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: rgb(229,226,227) !important;
}

/*Fading Divs in Background*/

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left{
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left,
.from-right{
    transition: opacity 250ms ease-in,
        transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.the-hut-img {
    width: 20rem;
    height: 25rem;
    box-shadow: 0 50px 80px rgba(0,0,0,0.25);
}

.an-elegant-departure-img {
    width: 20rem;
    height: 25rem;
    box-shadow: 0 50px 80px rgba(0,0,0,0.25);
}

/*Music Player*/

.music-player-image {
    width: auto;
    height:auto;
    box-shadow: 0 50px 80px rgba(0,0,0,0.25);
}

.player {
    box-shadow: 0 50px 80px rgba(0,0,0,0.25);
}


/*.player-body {*/
/*    display: block;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 45rem;*/
/*}*/

/*.player {*/
/*    position: relative;*/
/*    width: 30rem;*/
/*    box-shadow: 0 50px 80px rgba(0,0,0,0.25);*/
/*}*/

/*.player .imgBx {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    hight: 25rem;*/
/*}*/

/*.player .imgBx img {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/





























/*#writing-gallery {*/
/*    position: relative;*/
/*    min-width: 25rem;*/
/*    min-width: 30rem;*/
/*}*/


/*.the-hut-img {*/
/*    width: 20rem;*/
/*    height: 25rem;*/
/*    position: absolute;*/
/*    !*left: 0rem;*!*/
/*}*/

/*.an-elegant-departure-img {*/
/*    width: 20rem;*/
/*    height: 25rem;*/
/*    position: absolute;*/
/*    left: 3rem;*/
/*    top: 2rem;*/
/*}*/

/*.an-elegant-departure2-img {*/
/*    width: 20rem;*/
/*    height: 25rem;*/
/*    position: absolute;*/
/*    left: 6rem;*/
/*    top: 3rem;*/
/*}*/

/*.an-elegant-departure3-img {*/
/*    width: 20rem;*/
/*    height: 25rem;*/
/*    position: absolute;*/
/*    left: 9rem;*/
/*    top: 4rem;*/
/*}*/

/*.an-elegant-departure4-img {*/
/*    width: 20rem;*/
/*    height: 25rem;*/
/*    position: absolute;*/
/*    left: 12rem;*/
/*    top: 5rem;*/
/*}*/



