body {
    font-family: 'Spectral';
}
.banner-background {
    background-color: rgb(114,40,11);
}

.background {
    background: url(manuel-nageli-NsgsQjHA1mM-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background > div {
    background-color: rgb(178,172,171);
    margin-top: 20vh;
}

.contact-form {
    margin-bottom: 20vh;
    opacity: .90;
}

.fullscreen-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 75vh;
}

.stephen-wade {
    color: rgb(178,172,171);
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.nav-bar {*/
/*    flex: 1;*/
/*}*/

.sw-font {
    font-size: 20vh;
}

.nav-bar {;
    font-size: large;
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: rgb(114,40,11)
}
/*.writing {*/
/*    text-align: right;*/
/*}*/
/*#home, #about-me, #composition, #writing, #contact {*/
/*    color: rgb(178,172,171)*/
/*}*/