body {
    font-family: 'Spectral';
}

/*Background*/

.banner-background {
    background-color: rgb(114,40,11);
}

.background {
    background: url(manuel-nageli-NsgsQjHA1mM-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background > div {
    background-color: rgb(229,226,227);
    margin-top: 20vh;
}

/*Full Screen Banner*/

.fullscreen-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 75vh;
}

.stephen-wade {
    color: rgb(229,226,227);
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sw-text {
    font-size: clamp(6rem, 14vw, 12rem);
}

/*Navigation*/

.nav-bar {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: rgb(229,226,227) !important;
}

/*Fading Divs in Background*/

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left{
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left,
.from-right{
    transition: opacity 250ms ease-in,
        transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

/*Writing PDFs*/

.the-hut-img {
    width: 20rem;
    height: 25rem;
    box-shadow: 0 50px 80px rgba(0,0,0,0.25);
    max-width: 100%;
    height: auto;
}

.the-hut-img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.25);
}

.an-elegant-departure-img {
    width: 20rem;
    height: 25rem;
    box-shadow: 0 50px 80px rgba(0,0,0,0.25);
    max-width: 100%;
    height: auto;
}

.an-elegant-departure-img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.25);
}

/*Music Player*/

.player-controls {
    box-shadow: 0 50px 80px rgba(0,0,0,0.25);
    max-width: 100%;
}

.player-image {
    position: relative;
    max-width: 100%;
    box-shadow: 0 50px 80px rgba(0,0,0,0.25);
}
/*Contact Form*/

.contact-form {
    margin-bottom: 20vh;
    opacity: .90;
}

.recaptcha-button {
    max-width: 100%;
}

.footer {
    background-color: rgb(114,40,11);
}

.footer-text {
    color: rgb(229,226,227);
}

/*Mobile Formatting*/

@media (max-width: 978px) {
    .nav-wrapper {
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .background > div {
        background-color: rgb(229,226,227);
        margin-top: 2rem;
        padding: .5rem;
    }

    #writing {
        padding: 1rem !important;
    }

    #writing a {
        padding-left: 2rem !important;
    }

    .contact-form {
        padding: 1rem !important;
    }
}



